<div class="container-flex">
  <app-header></app-header>
  <div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
      <div class="dropdown">
        <i
          class="bi bi-cart3"
          id="carrito"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ></i>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="carrito">
          <h6 class="dropdown-header">Carrito de Compras</h6>
          <div *ngFor="let producto of lista" class="dropdown-item">
            <div class="d-flex justify-content-between align-items-center">
              <span>{{ producto.producto }}</span>
              <span class="badge bg-primary rounded-pill">{{
                producto.cantidad
              }}</span>
              <span>${{ producto.precio }}</span>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-item">
            <div class="d-flex justify-content-between align-items-center">
              <strong>Total:</strong>
              <span class="text-success">${{ getTotal() }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let producto of productos" class="col-md-4 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-img-wrapper">
            <img [src]="producto.imagen" class="card-img-top" alt="..." />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">{{ producto.producto }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="card-price"><span>$</span>{{ producto.precio }}</p>
            <button
              class="btn btn-success"
              (click)="agregarAlCarrito(producto.id)"
            >
              Agregar al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
