<div class="container-flex">
  <app-header></app-header>
  <div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
      <div class="dropdown">
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#carritoModal"
        >
          <i
            class="bi bi-cart3"
            id="carrito"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          ></i>
          <span id="contador">{{ getContador() }}</span>
        </button>
        <!-- Modal -->
        <div
          class="modal fade"
          id="carritoModal"
          tabindex="-1"
          aria-labelledby="carritoModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="carritoModalLabel">
                  Carrito de Compras
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div *ngFor="let producto of lista" class="dropdown-item">
                  <div
                    class="infor d-flex justify-content-between align-items-center"
                  >
                    <span>{{ producto.producto }}</span>
                    <span class="badge rounded-pill">{{
                      producto.cantidad
                    }}</span>
                    <span>${{ producto.precio }}</span>
                  </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item">
                  <div
                    class="infor d-flex justify-content-between align-items-center"
                  >
                    <strong>Total:</strong>
                    <span class="text-success">${{ getTotal() }}</span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
                <button type="button" class="btn btn-success">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let producto of productos" class="col-md-4 mb-4">
        <div class="card h-100 shadow-lg">
          <div class="card-img-wrapper">
            <img [src]="producto.imagen" class="card-img-top" alt="..." />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">{{ producto.producto }}</h5>
            <p class="card-text">{{ producto.descripcion }}</p>
            <p class="card-price"><span>$</span>{{ producto.precio }}</p>
            <button
              class="btn btn-success"
              (click)="agregarAlCarrito(producto.id)"
            >
              Agregar al carrito
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
